{{define "content"}}
{{if .Games}}
<table class="table">
  <thead>
    <tr>
      <th class="col-date">Dato</th>
      <th class="col-melding">Melding</th>
      <th>Melder</th>
      <th>Modstandere</th>
    </tr>
  </thead>
  <tbody>
    {{range .Games}}
    <tr>
      <td class="col-date">
        <a href="/c/{{.ClubID}}/games/{{.ID}}">{{.PlayedAt.Format "2006-01-02"}}</a>
      </td>
      <td class="col-melding">{{.MeldingName}} ({{gameTricks .}}){{if .Note}} <span class="note-indicator" title="{{.Note}}">📝</span>{{end}}</td>
      <td class="participants">
        {{range .Scores}}{{if or (eq .Role "melder") (eq .Role "makker")}}<span>{{.Player.Emoji}} {{.Player.Name}}</span>{{end}}{{end}}
      </td>
      <td class="participants">
        {{range .Scores}}{{if eq .Role "modspil"}}<span>{{.Player.Emoji}} {{.Player.Name}}</span>{{end}}{{end}}
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{else}}
<p><em>Ingen spil endnu.</em> <a href="/c/{{.Club.ID}}/new">Tilføj det første</a>.</p>
{{end}}
{{end}}
